NET "TCK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "TCK" LOC = V15;
NET "TDI" LOC = W16;
NET "TDO" LOC = V16;
NET "TMS" LOC = V14;
NET "BIST_CLK" LOC = E12;

# PlanAhead Generated physical constraints 

NET "TMS_LA" LOC = AA21;
NET "PIN_OUT_1" LOC = AB19;
NET "PIN_OUT_2" LOC = AA19;
NET "TCK_LA" LOC = AB21;

NET "STATE_OUT_MAIN<0>" LOC = AB3;
NET "STATE_OUT_MAIN<1>" LOC = AA6;
NET "STATE_OUT_MAIN<2>" LOC = Y7;
NET "STATE_OUT_MAIN<3>" LOC = AA8;

NET "LEDs<0>" LOC = R20;
NET "LEDs<1>" LOC = T19;
NET "LEDs<2>" LOC = U20;
NET "LEDs<3>" LOC = U19;
NET "LEDs<4>" LOC = V19;
NET "LEDs<5>" LOC = V20;
NET "LEDs<6>" LOC = Y22;
NET "LEDs<7>" LOC = W21;

NET "TUMBLER" LOC = V8;
//NET "PIN_IN_1" LOC = U10;
//NET "TUMBLER" LOC = U8;
//NET "TUMBLERS<3>" LOC = T9;